<div class="container">


<form class="signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-label">Username:</label>
    <input type="text" class= "form-control" id="username-signup" />
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label">Email:</label>
    <input type="text" class= "form-control" id="email-signup" />
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password:</label>
    <input type="password" class= "form-control" id="password-signup" />
  </div>
  <div>
    <button class="btn btn-dark" type="submit">Signup</button>
  </div>
</form>

</div>

<script src="/javascript/login.js"></script>
